section.news-items
  if newsItems.error
    h1= newsItems.error
  else
    for item in newsItems
      article( id=item.time, class=item.status )
        h1 #{item.readableTime} &ndash; #{item.title}
        blockquote!= item.text.replace( /\n\n/g, '<br />' )
