figure.stage-status

  figcaption
    .stats
      .stat.speed
        h2 Current speed
        p #{stageStatus.speed}km/u
      .stat.completed
        h2 Distance completed
        p #{stageStatus.kmCompleted}km
      .stat.remaining
        h2 Distance remaining
        p #{stageStatus.kmRemaining}km
      .stat.distance
        h2 Total distance
        p #{stageInfo.distance}km

  .progress-wrapper
    img( src="http://www.letour.fr/le-tour/2015/img/profils/#{appState.stage.slice(1)}.png" )
    .percentage( style="width: #{ ( ( stageStatus.kmCompleted / stageInfo.distance ) * 100 ).toFixed( 0 ) }%" )

section.groups
  for group in stageStatus.groups
    .group

      if group.runnersNo > 0
        h2 #{group.title} (#{group.runnersNo})
      else
        h2= group.title

      if group.delay !== ""
        p.delay #{group.delay}

      if group.jourseys !== ""
        p.journeys #{group.jourseys}
